#!/usr/bin/env ruby

compile '/**/*.haml' do
  filter :haml
  layout '/default.*'
end

compile '/**/*.md' do
  filter :redcarpet
  layout '/post.*'
end

route '/posts/*' do
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)\.md/.match(item.identifier).captures
  
  "/posts/#{y}/#{m}/#{slug}/index.html"
end

compile '/**/*' do
  write item.identifier.to_s
end


layout '/**/*', :haml
